/* Common Css Start */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Poppins", sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    word-break: break-word;
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    transition: 0.5s all linear;
    position: relative;
}
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}
*,
:after,
:before {
    box-sizing: border-box;
}
h1 {
    font-size: 50px;
    line-height: 54px;
    color: #212121;
    font-weight: 700;
    display: block;
    margin: 0 0 20px;
    font-family: "Poppins", sans-serif;
}
h2 {
    font-size: 50px;
    line-height: 54px;
    color: #212121;
    font-weight: 700;
    display: block;
    margin: 0 0 20px;
    font-family: "Poppins", sans-serif;
}
h3 {
    font-size: 30px;
    color: #000;
    font-weight: 700;
    line-height: 36px;
    display: block;
    margin: 0 0 20px;
    font-family: "Poppins", sans-serif;
}
h4 {
    font-size: 24px;
    color: #000;
    font-weight: 700;
    line-height: 30px;
    display: block;
    margin: 0 0 20px;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
figure {
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    font-size: 16px;
    line-height: 1.5;
    color: #545252;
    font-weight: 400;
    margin: 0 0 30px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* ------------------Coomon CSS end------------------ */

/* ------------------Header CSS Start---------------- */
.site-header {
    /* padding: 25px 0; */
    background: #e3e2e2;
    position: relative;
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
}
.site-header .header-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.site-header .header-wrap .site-branding {
    display: inline-block;
    width: 170px;
}
.site-header .header-wrap .site-branding a {
    /* line-height: 0; */
    display: inline-block;
}
.site-header .header-wrap .site-branding a span {
    font-size: 50px;
    width: 170px;
    max-width: 100%;
    font-family: "Pacifico", cursive;
    display: inline-block;
    /* border-radius: 65px; */
    background: -webkit-linear-gradient(rgb(21 159 243), rgb(80 74 108));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .site-header .header-wrap .site-branding a img {
    width: 220px;
    max-width: 100%;
} */
.site-header .header-wrap .main-navigation {
    width: calc(100% - 200px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-end;
}
.site-header .header-wrap .main-navigation .menu-container .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.site-header .header-wrap .main-navigation .menu-container .menu li a {
    font-size: 16px;
    line-height: 1;
    color: #4d84d9;
    font-weight: 600;
    text-transform: capitalize;
}
.site-header .header-wrap .main-navigation .menu-container .menu li {
}
.site-header .header-wrap .main-navigation .menu-container .menu li.btn-nav-menu {
  
}

.site-header .header-wrap .main-navigation .menu-container .menu li.btn-nav-menu a {
    padding: 10px;
    color:  #009aff;
    transition: all .3s linear;
    display: inline-block;
}
.site-header .header-wrap .main-navigation .menu-container .menu li.btn-nav-menu a:hover{
    color: #2869cd;
}
.site-header .header-wrap .main-navigation a.hamburger-menu {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.site-header .header-wrap .main-navigation a.hamburger-menu img {
    display: none;
    width: 20px;
}

@media only screen and (max-width: 767px) {

    .site-header {
        padding: 10px 0;
    }
    .site-header .header-wrap .site-branding {
        width: 100px;
    }
    .site-header .header-wrap .site-branding a span {
        font-size: 30px;
        width: 100px;
    }


    .site-header .header-wrap .main-navigation .menu-container {
        display: none;
    }

    .site-header .header-wrap .main-navigation a.hamburger-menu .open {
        display: block;
    }

    .site-header .header-wrap .main-navigation a.hamburger-menu .close {
        display: none;
    }

    .active .site-header .header-wrap .main-navigation .menu-container {
        display: block;
    }

    .site-header .header-wrap .main-navigation .menu-container {
        width: 100%;
        height: 100vh;
        position: absolute;
        background: #cadfeb;
        top: 70px;
        z-index: 1;
        left: 0;
    }

    .site-header .header-wrap .main-navigation .menu-container .menu {
        flex-direction: column;
        padding: 30px 15px;
    }

    .active .site-header .header-wrap .main-navigation .hamburger-menu.active .close {
        display: block;
    }

    .active .site-header .header-wrap .main-navigation .hamburger-menu.active .open {
        display: none;
    }

}
/* ------------------Header CSS End---------------- */

/*-------------------Social media Icon CSS Start-------------*/

.social-main {
    position: fixed;
    top: 30%;
  }
  
  .social-main ul {
    list-style-type: none;
    padding: 0;
    transform: translatex(-250px);
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .social-main ul li {
    display: block;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1s;
  }
  
  .social-main ul li:hover {
    transform: translatex(110px);
  }
  
  .social-main ul li.mail:hover {
    background-color: #ffc204;
  }
  .social-main ul li.resume:hover {
    background-color: #31bab5;
  }
  
  .social-main ul li.linkedin:hover {
    background-color: #0a66c2;
  }
  
  .social-main ul li.github:hover {
    background-color: #000;
  }
  
  .social-main ul li a {
    color: white;
    text-decoration: none;
  }
  
  .social-main ul li i {
    text-align: center;
    margin-left: 14px;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    /* transform: rotate(0deg); */
    vertical-align: middle;
    display:inline-block;
  }
  
  .social-main ul li:hover i {
    /* transform: rotate(360deg); */
    transition: all 1s;
  }

  @media only screen and (max-width: 767px) {
    .social-main {
      display:none;
    }
  }

/*-------------------Social media Icon CSS End-------------*/



/*------------------ Body CSS Start-----------------*/
.hero-main {
    padding: 150px 0 80px;
    position: relative;
    /* background-image: url(F:/jahanvi/portfolio/images/bg.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to top, #000000 0%, #537895 100%);
}

.hero-main .hero-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    max-width: 100%;
    z-index: 11;
    position: relative;
}

.hero-main .hero-wrap .column-left {
    width: calc(70% - 20px);
    position: relative;
}
 .progressbar-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
}


.hero-main .hero-wrap .column-left p {
    font-size: 16px;
    line-height: 2;
    /* background: #000; */
    text-transform: capitalize;
    color: #fff;
    /* padding: 3px 7px 0; */
    width: 450px;
    max-width: 100%;
    /* border-radius: 4px; */
}

.hero-main .hero-wrap .column-left h2 {
    font-size: 40px;
    line-height: 50px;
    color: #ffffff;
    margin-bottom: 20px;
}
.hero-main .hero-wrap .column-left h2 span {
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.progressbar-wrap {
    /* margin-bottom: 30px; */
}

.progressbar-wrap .progress-value {
    font-size: 25px;
    line-height: 1;
    font-weight: 600;
    color: #360499;
    margin-bottom: 10px;
    text-align: right;
}

.progressbar-wrap .progress-bar-cell {
    width: 100%;
    height: 5px;
    background: #e7f0ff;
    /* border-radius: 10px; */
    position: relative;
}

.progressbar-wrap .progress-bar-cell .progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    margin: 0;
    /* background: linear-gradient(90deg, #f0e953 -2.5%, #5dc664 79.89%, #238d8c 92.19%, #501e6b 104.5%); */
    /* background: -webkit-linear-gradient(rgb(21 159 243), rgb(80 74 108)); */
    background:#1d94e2;
    /* border-radius: 24px; */
    transition: width .1s ease;
}
.hero-main .hero-wrap .column-left .hero-btn a {
    font-size: 16px;
    line-height: 28px;
    background: #fff;
    color: #000;
    padding: 5px 20px;
    text-transform: capitalize;
    border-radius: 5px;
    font-weight: 600;
    display: inline-block;
    transition: all .3s linear;
    text-align:center;
}
.hero-main .hero-wrap .column-left a:hover {
    background: -webkit-linear-gradient(rgb(21 159 243), rgb(80 74 108));
    color: #fff;
}
.hero-main .hero-wrap .column-right {
    width: calc(30% - 20px);
    text-align: right;
}
.hero-main .hero-wrap .column-right .thumb-wrap {
    position: relative;
}
.hero-main .hero-wrap .column-right .thumb-wrap img {
    border-radius: 20px;
    width: 300px;
}
.hero-main .hero-wrap .column-right .thumb-wrap span {
    position: absolute;
    font-size: 20px;
    background: #000;
    color: #fff;
    padding: 3px 10px;
    border-radius: 15px;
    left: 24px;
    bottom: 27px;
}




@media only screen and (max-width: 767px) {
    .hero-main {
        padding: 120px 0 50px;
    }
    .hero-main .hero-wrap {
        flex-direction: column-reverse;
    }
    .hero-main .hero-wrap .column-left {
        width: 100%;
    }
    .hero-main .hero-wrap .column-left h2 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 20px;
        text-align: center;
    }
    .hero-main .hero-wrap .column-right {
        width: 100%;
        text-align:center;
    }
    .hero-main .hero-wrap .column-left p {
        font-size:14px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .hero-main .hero-wrap .column-left .hero-btn {
        text-align: center;
    }
    .hero-main .hero-wrap .column-left .hero-btn a {
        font-size: 16px;
    }

}

.work-section {
    padding: 150px 0;
    background: #efefef;
    /* background-image: url(F:/jahanvi/portfolio/images/bg.jpg); */
}

.work-section h2 {
    text-align: center;
    font-size: 50px;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 80px;
    font-weight: 600;
    color: #000;
}

.work-section .work-list {
    display: flex;
    flex-wrap: wrap !important;
    gap: 30px;
}

.work-section .work-list .work-list-item {
    width: calc(33.33% - 20px);
    background: #fff;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.work-section .work-list .work-list-item .thumb-wrap {
    
}
.work-section .work-list .work-list-item .thumb-wrap a {
    line-height: 0;
    display: block;
    overflow: hidden;
}
.work-section .work-list .work-list-item .thumb-wrap a img {
    object-fit: cover;
    height: 208px;
    width: 100%;
    transition: ease-in .5s all;
}
.work-section .work-list .work-list-item .thumb-wrap a img:hover {
    scale: 1.1;
}
.work-section .work-list .work-list-item .content-wrap {
    padding: 20px 10px;
}
.work-section .work-list .work-list-item .content-wrap h3 {
    margin: 0;
    text-align: center;
}
.work-section .work-list .work-list-item .content-wrap h3 a {
    font-size: 20px;
    line-height: 1;
    text-transform: capitalize;
    color: #000;
}

@media only screen and (max-width: 767px) {

    .work-section h2 {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .work-section .work-list {
        gap: 20px;
        flex-wrap: nowrap !important;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .work-section .work-list::-webkit-scrollbar {
        display: none;
    }
    .work-section .work-list .work-list-item {
        width: 300px;
        white-space: normal;
        flex-shrink: 0;
    }
    .work-section .work-list .work-list-item .content-wrap {
        padding: 15px 10px;
    }
}

.experience {
    padding: 150px 0;
}

.experience h2 {
    text-align: center;
    font-size: 50px;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 600;
    color: #000;
}

.experience p {
    text-align: center;
    margin-bottom: 50px;
}

.experience ul.tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    align-items: center;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.experience ul.tech-list li {
    width: calc(33.33% - 27px);
    max-width: 100%;
    /* margin-bottom: 30px; */
    border: 1px solid #fff;
    /* border-top: none; */
    border-radius: 5px;
    padding: 20px;
    transition: 0.5s;
}
.experience ul.tech-list li.html:hover {
    box-shadow: 1px 2px 5px 2px #f16529;
    scale: 1.05;
}
.experience ul.tech-list li.html {
    border: 1px solid #f16529;
}

.experience ul.tech-list li.css {
    border: 1px solid #0277bd;
}
.experience ul.tech-list li.css:hover {
    box-shadow: 1px 2px 5px 2px #0277bd;
    scale: 1.05;
}
.experience ul.tech-list li.js {
    border: 1px solid #ffd600;
}
.experience ul.tech-list li.js:hover {
    box-shadow: 1px 2px 5px 2px #ffd600;
    scale: 1.05;
}
.experience ul.tech-list li.bootstrap {
    border: 1px solid #7310f6;
}
.experience ul.tech-list li.bootstrap:hover {
    box-shadow: 1px 2px 5px 2px #7310f6;
    scale: 1.05;
}
.experience ul.tech-list li.git {
    border: 1px solid #000;
}
.experience ul.tech-list li.git:hover {
    box-shadow: 1px 2px 5px 2px #000;
    scale: 1.05;
}
.experience ul.tech-list li.wp {
    border: 1px solid #20759a;
}
.experience ul.tech-list li.wp:hover {
    box-shadow: 1px 2px 5px 2px #20759a;
    scale: 1.05;
}
.experience ul.tech-list li img {
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
    object-fit: contain;
}

.experience ul.tech-list li p {
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}


@media only screen and (max-width: 767px) {
    .experience ul.tech-list li {
        width: calc(50% - 10px);
    }
    .experience h2 {
        font-size: 25px;
    }
    .experience p {
        font-size: 16px;
    }
    .experience ul.tech-list li {
        width: calc(50% - 10px);
    }
    .experience ul.tech-list li p {
        font-size: 14px;
    }
}

.about {
    padding: 150px 0;
    background: #fff;
}
.about h2 {
    font-size: 45px;
    line-height: 1;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 40px;
    color: #000;
}
.about p {
    font-size: 16px;
    line-height: 2;
    width: 900px;
    max-width:100%;
    text-align: center;
    margin: 0 auto 20px;
    color: #545252;
}

.about p:last-child {
    margin-bottom: 0;
}


@media only screen and (max-width: 767px) {

    .about {
        padding: 50px 0;
    }
    .about h2 {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .about p {
        font-size: 16px;
    }
}



.contact-main {
    padding: 150px 0;
    background-image: url(/images/bg.jpg);
}

.contact-main h2 {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 30px;
}

.contact-main p {
    text-align: center;
    margin-bottom: 50px;
}

.contact-main .contact-form {
    text-align: center;
    width: 720px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: column;
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: -10px -20px 30px 0 rgba(0,0,0,.04);
}

.contact-main .contact-form .contact-detail {display: flex;}

.contact-main .contact-form .contact-detail input,.contact-main .contact-form .contact-detail textarea {
    padding: 10px 15px;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1;
    text-transform: capitalize;
    background: rgb(0 0 0 / 10%);
    color: #000;
}

.contact-main .contact-form .contact-detail textarea {
    height: 150px;
}

.contact-main .contact-form .contact-detail input, .contact-main .contact-form .contact-detail textarea:focus {
    outline: none;
}
.contact-main .contact-form .contact-detail input::placeholder, .contact-main .contact-form .contact-detail textarea::placeholder {
    color: #858585;
}
.contact-main .contact-form .submit-btn {text-align: left;}

.contact-main .contact-form .submit-btn button {
    font-size: 16px;
    line-height: 28px;
    background: #000;
    color: #fff;
    padding: 8px 20px;
    text-transform: capitalize;
    border-radius: 5px;
    font-weight: 600;
    display: inline-block;
    transition: all .3s linear;
    text-align: center;
    min-width: 130px;
    /* outline: none; */
    border: none;
}

.contact-main .contact-form .submit-btn button:hover {
    background: -webkit-linear-gradient(rgb(21 159 243), rgb(80 74 108));
    color: #fff;
}

@media only screen and (max-width: 767px) {
    .contact-main h2 {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .contact-main p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .contact-main .contact-form {
        padding: 30px;
    }
}


/*------------------ Body CSS End-----------------*/


/* ------------------Footer CSS Start---------------- */
.site-footer {
    padding: 50px 0 10px;
    background: #e3e2e2;
}
.site-footer .footer-wrap {}

.site-footer .footer-wrap p {
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    margin-bottom: 10px;
    letter-spacing:2px;
}
.site-footer .footer-wrap .footer-logo {
    text-align: center;
}

.site-footer .footer-wrap .footer-logo a {
    display: block;
}

.site-footer .footer-wrap .footer-logo a span {
    font-size: 50px;
    width: 170px;
    max-width: 100%;
    font-family: "Pacifico", cursive;
    display: inline-block;
    background: -webkit-linear-gradient(rgb(21 159 243), rgb(80 74 108));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 70px;
}

@media only screen and (max-width: 767px) {

    .site-footer .footer-wrap .footer-logo a span {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .site-footer .footer-wrap .footer-menu ul {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }


}
/* ------------------Footer CSS End---------------- */

